<div class="carousal">
  Carousal
</div>
<div class="search container">
  <div class="search-box">
    <div class="search-bar">
      <div class="search-box-content label">
        <label>Pickup</label>
      </div>
      <div class="search-box-content">
        <div class="date">
          <input type="date" />
        </div>
        <div class="time">
          <input type="time" />
        </div>
      </div>
      <div class="search-box-content label">
        <label>Dropoff</label>
      </div>
      <div class="search-box-content">
        <div class="date">
          <input type="date" />
        </div>
        <div class="time">
          <input type="time" />
        </div>
      </div>
      <!-- <div class="search-box-content label"> -->
      <button class="label search-box-content btn btn-danger" type="button">
        Search
      </button>
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="trending">
  <div class="container">
    <div class="trending-items">
      <h5>Trending</h5>
      <!-- <hr class="underline"> -->
    </div>
    <div class="trending-items-list">
      <div class="item">
        <div class="item-content">
          <h6>Item1</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, odio incidunt nostrum quas eligendi sed excepturi dolore non expedita maiores eaque quae voluptatem aspernatur tempora ullam. Similique quam aliquam consequatur!</p>
        </div>
      </div>
      <div class="item">
        <div class="item-content">
          <h6>Item1</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, odio incidunt nostrum quas eligendi sed excepturi dolore non expedita maiores eaque quae voluptatem aspernatur tempora ullam. Similique quam aliquam consequatur!</p>

        </div>
      </div>
      <div class="item">
        <div class="item-content">
          <h6>Item1</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, odio incidunt nostrum quas eligendi sed excepturi dolore non expedita maiores eaque quae voluptatem aspernatur tempora ullam. Similique quam aliquam consequatur!</p>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-us">
    <div class="container">
        <div class="contact-us-content">
            <h5>Contact Us</h5>
            <div class="contact-content-flex">
            <div class="contact-content">
                <h6>Ask Us Anything</h6>
                <p class="content-para"><span>If you have any doubts, please 
                    visit our FAQ section.</span><span> Have an
                    issue you want to ask us on call?</span>
                    <span class="phone">+91-7009085198</span>
                    <span>WhatsApp/Call</span>
                </p>
            </div>
            <div class="contact-img">
                <img src="../../assets/home-contact-us.png">
            </div>
            </div>
        </div>
    </div>
</div>