<div class="carousal">
  asd
</div>
<div class="search container">
  <div class="search-box">
    <div class="search-bar">
      <div class="search-box-content label">
        <label>Pickup</label>
      </div>
      <div class="search-box-content">
        <div class="date">
                <input type="date" />

        </div>
        <div class="time">
                <input type="time" />

        </div>
      </div>
      <div class="search-box-content label">
        <label>Dropoff</label>
      </div>
      <div class="search-box-content">
            <div class="date">
                    <input type="date" />
    
            </div>
            <div class="time">
                    <input type="time" />
    
            </div>

      </div>
      <!-- <div class="search-box-content label"> -->
            <button class="label search-box-content btn btn-danger" type="button">Search</button>
           <!-- </div> -->
    </div>
  </div>
</div>
