<header class="sticky">
  <a href="#" class="logo">Rent<span style="color: #ff5064;">Factory</span></a>
  <ul>
    <li>
      <div class="inputBox">
        <input type="text" name="" required="required" />
        <span><i class="fa fa-search icon"></i></span>
      </div>
    </li>
  </ul>
  <ul>
    <li><a href="#">Delhi<i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
    <li><a href="#">English<i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
    <li><a href="#">Signup/Login</a></li>
  </ul>
</header>

<header class="sub-header">
  <ul>
    <li><a href="#">About Us&nbsp;&nbsp;&nbsp;</a></li>
    <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
    <li><a href="#">&nbsp;&nbsp;&nbsp;How It Works?&nbsp;&nbsp;&nbsp;</a></li>
    <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
    <li><a href="#">&nbsp;&nbsp;&nbsp;FAQ&nbsp;&nbsp;&nbsp;</a></li>
    <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
    <li><a href="#">&nbsp;&nbsp;&nbsp;Blog&nbsp;&nbsp;&nbsp;</a></li>
    <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
    <li><a href="#">&nbsp;&nbsp;&nbsp;Contact Us&nbsp;&nbsp;&nbsp;</a></li>
    <li>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
    <li><a href="#">&nbsp;&nbsp;&nbsp;Careers</a></li>
  </ul>
</header>
