<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-information">
                <div class="footer-web-name">
                <h5>RentFactory</h5>
                <span>support@rentfactory.com</span>
                <span>+91-7018080252</span>
                <div class="icons">
                        <h5>Follow</h5>
                        <div class="icons-items">
                        <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                        <div><i class="fa fa-github" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
                <div class="footer-company">
                   <h5>Company</h5>
                    <span>About Us</span>
                    <span>Careers</span>
                    <span>Contact Us</span>
                </div>
                <div class="footer-policies">
                    <h5>Policies</h5>
                    <span>Privacy Policy</span>
                    <span>Terms and conditions</span>
                </div>
            </div>
        </div>
    </div>
</div>